/*  your css code here. If applicable */
body {
	height: 100vh;
	width: 100vw;
	background-image: url("https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg");
	background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
	margin: 0;
	padding: 0;
	position: relative;
}

.heading{
    color: white;
	position: absolute;
}   
